<!DOCTYPE html>
<html>
<head>
	<title>Bands</title>
	<meta charset="utf-8">
	<meta name="description" content="This is Stephen's blog!">
	<link rel="stylesheet" type="text/css" href="../static/stlying.css">
</head>
<body style="background-color: black">
	<div id="container">
		<div id="header">
			<a href="index.html" class="header-button-link"><h1>Stephen Parsons</h1>
			<ul id="toolbar">
				<a href="instruments.html" class="header-button-link"><li class="header-button">Instruments</li></a>
				<a href="bands.html" class="header-button-link"><li class="header-button">Bands</li></a>
				<a href="chess.html" class="header-button-link"><li class="header-button">Chess</li></a>
				<a href="blog.html" class="header-button-link"><li class="header-button">Blog</li></a>
			</ul>
		</div>
		<div id="main-content">
			<h2 class="page-header">Bands:</h2>
			<ul class="main-content-background" id="band-styling">
				<li>2011-2013: <a href="https://thecoastals.bandcamp.com/" class="button-link">The Coastals</li></a>
				<img class="bandimage" src="https://f4.bcbits.com/img/a2334605660_16.jpg">
				<audio controls>
					<source src="https://t4.bcbits.com/stream/e15a4255be2468ebd8d5e03b6e427e1c/mp3-128/1777259521?p=0&ts=1510770696&t=4df3d3ffba3460befcac4b8eb8b1ee565ee36351&token=1510770696_96ea6a74524aec2873a90a41db42cd61341b1579" type="audio/mpeg">
				</audio>
				<li>2012-Current: <a href="https://boardroomheroes.bandcamp.com" class="button-link">Boardroom Heroes</a></li>
				<img class="bandimage" src="https://f4.bcbits.com/img/0005018475_10.jpg">
				<audio controls>
					<source src="https://t4.bcbits.com/stream/25a203825cda042dbb45466a0cb93baf/mp3-128/3885703587?p=0&ts=1510770135&t=6f233af6f4b6e29502642069e894bf9814ab9c57&token=1510770135_6fbfccaad3eb1cb94b9441443318feaeb7a84b45" type="audio/mpeg">
				</audio>
				<li>2014-2016: <a href="https://blackdogprowl.bandcamp.com/" class="button-link">Black Dog Prowl</li></a>
				<img class="bandimage" src="../images/bdp.jpg">
				<audio controls>
					<source src="https://t4.bcbits.com/stream/ac9e20e09de68623bc7858269d492421/mp3-128/2849548008?p=0&ts=1510770834&t=f94a0497834833335b5d8f2a59ccc604026b68a5&token=1510770834_bfb972e86bfc5e37603dbda7a59bacfa98747dd4" type="audio/mpeg">
				</audio>
				<li>2016-Current: <a href="https://www.thesplitseconds.com" class="button-link">The Split Seconds</a></li>
				<img class="bandimage" src="https://static1.squarespace.com/static/567db676841abaa3c91493b9/567df1d925981d069db8fd0d/582ccaa3f7e0abcf0cbbaba4/1479330470430/secondsmall.png?format=750w">
				<audio controls>
					<source src="https://static1.squarespace.com/static/567db676841abaa3c91493b9/567dc5c52399a36b8ed79845/567dd684d8af10f8899729f1/1451087492336/Come+To+Mary.mp3" type="audio/mpeg">
				</audio>
			</ul>
		</div>
		<div id="footer">
			<p>Copyright © 2017 Stephen Parsons</p>
			<p>All rights reserved</p>
<!-- 			<form>
				<h4>Would you like to recieve updates from Stephen?</h2>
				<label>
					Yes<input type="radio" id="yes" name="updates" value="yes">
				</label>
				<br>
				<label>
					No<input type="radio" id="no" name="updates" value="no">
				</label>
				<br>
				<br>
				<label>
					Please enter email: <input type="text" name="email">
				</label>
				<br>
				<br>
				<input type="submit" value="submit">
			</form> -->
		<div>		
	</div>
</body>
</html>