<!DOCTYPE html>
<html>
<head>
	<title>Stephen's Blog</title>
	<meta charset="utf-8">
	<meta name="description" content="This is Stephen's blog!">
	<link rel="stylesheet" type="text/css" href="../static/stlying.css">
<!-- 	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
</head>
<body>
	<div id="container">
		<div id="header">
			<a href="index.html" class="header-button-link"><h1>Stephen Parsons</h1>
			<ul id="toolbar">
				<a href="instruments.html" class="header-button-link"><li class="header-button">Instruments</li></a>
				<a href="bands.html" class="header-button-link"><li class="header-button">Bands</li></a>
				<a href="chess.html" class="header-button-link"><li class="header-button">Chess</li></a>
				<a href="blog.html" class="header-button-link"><li class="header-button">Blog</li></a>
			</ul>
		</div>
		<div id="main-content">
			<h2 class="page-header">Blog:</h2>
			<div id="blog">				
				<p id="blog2">Blog entry #2<br><br>

				11/26/17<br><br>

				Hello world!<br><br>

				It’s the Sunday evening after Thanksgiving and I just now recall that I am due an entry. We had a short week at the Dojo and crammed in a whole lot in just 3 days. We were introduced to jQuery which is a LIFESAVER and makes modifying HTML a breeze, thus making any website more interactive and interesting. We all went over APIs and AJAX, which I find very interesting for some odd reason and I explored the chess.com API to make the Chess section on this website more informative. We start Python tomorrow, and I couldn’t be more excited. I’m a little weary of all the front-end dev and more interested in back-end and algorithms. I’ve done same basic Python and look forward to more exploring - I’m hoping to build a chess engine eventually and I think Python could be very useful tool for this project.<br><br>

				In other news, my family was in town and we had a nice Thanksgiving dinner in Bethesda before exploring the National Mall and all the monuments the next day. I am glad they could come by as it’s hard for me to leave town with Fox.<br><br>

				Besides that, the best part of last week was seeing Strike Anywhere! It’s refreshing to see a band that’s been around for awhile still deliver intensity and raw energy. Brain McTernan mentioned that you’d never meet a better group of guys and I believe him; their lyrics are meaningful on a level most other bands can’t touch. A reinvigorating experience that resets your perspective on playing music and really moves you.<br><br>

				On a related note I learned ‘Portrait of Authority’ by Bad Religion today. Another timeless band with exceptional lyrical prowess. This song in particular I sort of pass by most of the time, but the beautiful thing about Bad Religion is how you can come back to any song, examine it from a new perspective, learn something meaningful, and achieve an unprecedented cathartic release. A similar thing happened with ‘Infected’ and more recently ‘American Jesus’. Stunning masterworks that I simply overlooked because of their popularity in the BR canon.<br><br>

				Anyways, that’s all for now.<br><br>

				later,<br>
				Stephen<br>
				<br>
				</p>
				<p id="blog1">Blog entry #1<br><br>

				11/20/17<br><br>

				Hello world!<br><br>

				I have already completed week one of the CodingDojo, so I’ll start with a recap. I’m going to try and blog at the end of every week to record my coding journey.<br><br>

				The class is fantastic, and I can already tell that I’m picking up coding (at least WebFun) very quickly and easily and foresee a fruitful future. I absolutely loathe CSS and am currently enjoying the javaScript portion we started today far more. I will definitely update the CSS on here eventually… considering I achieved my Yellow Belt and can now code it properly. The exam was tedious, but not super difficult. <br><br>

				In other news I took out ‘Stranger Than Fiction’ for a spin today while working on some JS and I have to say it is definitely one of my top Bad Religion records. I hesitate to attach a number to it’s rank but the stylistic realization combined with higher budget production and overtly personal, but very dark, songwriting make it extremely powerful. This is the culmination of a long build-up in momentum for this band and I hold it in high regard in the BR pantheon. <br><br>

				Also, I’m going to see Strike Anywhere tomorrow at the 9:30 club!<br><br>

				later,<br>
				Stephen<br>
				<br>
				</p>
			</div>
		</div>
	<div id="footer">
		<p>Copyright © 2017 Stephen Parsons</p>
		<p>All rights reserved</p>
<!-- 			<form>
				<h4>Would you like to recieve updates from Stephen?</h2>
				<label>
					Yes<input type="radio" id="yes" name="updates" value="yes">
				</label>
				<br>
				<label>
					No<input type="radio" id="no" name="updates" value="no">
				</label>
				<br>
				<br>
				<label>
					Please enter email: <input type="text" name="email">
				</label>
				<br>
				<br>
				<input type="submit" value="submit"> -->
			</form>
		<div>		
	</div>
</body>
</html>