<!DOCTYPE html>
<html>
<head>
	<title>Stephen's Blog</title>
	<meta charset="utf-8">
	<meta name="description" content="This is Stephen's blog!">
	<link rel="stylesheet" type="text/css" href="../static/stlying.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../static/script.js"></script>
	<script type="text/javascript"  
    src="http://chesstempo.com/js/pgnyui.js">  
	</script>   
	<script type="text/javascript"  
	    src="http://chesstempo.com/js/pgnviewer.js">  
	</script>  
	<link  
	 type="text/css"   
	 rel="stylesheet"   
	 href="http://chesstempo.com/css/board-min.css">  
	</link> 
<!-- 	<script>  
	
	</script>  -->
</head>
<body>
	<div id="container">
		<div id="header">
			<a href="index.html" class="header-button-link"><h1>Stephen Parsons</h1>
			<ul id="toolbar">
				<a href="instruments.html" class="header-button-link"><li class="header-button">Instruments</li></a>
				<a href="bands.html" class="header-button-link"><li class="header-button">Bands</li></a>
				<a href="chess.html" class="header-button-link"><li class="header-button">Chess</li></a>
				<a href="blog.html" class="header-button-link"><li class="header-button">Blog</li></a>
			</ul>
		</div>
		<div id="main-content">
			<h2 class="page-header"><a class="header-button-link" href="https://www.chess.com/member/stevopar">Play me on Chess.com!</a></h2>
			<div id="stats">
				
			</div>
			<h3>Check out one of my favorite games:</h3>
			<div id="demo-container"></div>  
			<div id="demo-moves"></div> 
			<p>Thank you chesstempo.com for the PGN viewer!</p> 
		</div>
		<div id="footer">
			<p>Copyright © 2017 Stephen Parsons</p>
			<p>All rights reserved</p>
<!-- 			<form>
				<h4>Would you like to recieve updates from Stephen?</h2>
				<label>
					Yes<input type="radio" id="yes" name="updates" value="yes">
				</label>
				<br>
				<label>
					No<input type="radio" id="no" name="updates" value="no">
				</label>
				<br>
				<br>
				<label>
					Please enter email: <input type="text" name="email">
				</label>
				<br>
				<br>
				<input type="submit" value="submit">
			</form> -->
		<div>
	</div>
</body>
</html>
