<!DOCTYPE html>
<html>
<head>
	<title>Stephen's Blog</title>
	<meta charset="utf-8">
	<meta name="description" content="This is Stephen's blog!">
	<link rel="stylesheet" type="text/css" href="../static/stlying.css">
</head>
<body style="background-color: black">
	<div id="container">
		<div id="header">
			<a href="index.html" class="header-button-link"><h1>Stephen Parsons</h1>
			<ul id="toolbar">
				<a href="instruments.html" class="header-button-link"><li class="header-button">Instruments</li></a>
				<a href="bands.html" class="header-button-link"><li class="header-button">Bands</li></a>
				<a href="chess.html" class="header-button-link"><li class="header-button">Chess</li></a>
				<a href="blog.html" class="header-button-link"><li class="header-button">Blog</li></a>
			</ul>
		</div>
		<div id="main-content">
			<h2 class="page-header">Instruments:</h2>
			<table class="main-content-background" border="2px solid black" style="margin: auto">
				<thead>
					<tr style="background-color: grey">
						<td>Brand</td>
						<td>Model</td>
						<td>Year</td>
						<td>Color</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Gibson</td>
						<td>Les Paul Classic</td>
						<td>2005</td>
						<td>Cherry Sunburst</td>
					</tr>
					<tr>
						<td>Gibson</td>
						<td>Les Paul Custom</td>
						<td>1998</td>
						<td>Cherry Sunburst</td>
					</tr>
					<tr>
						<td>G&L</td>
						<td>Legacy</td>
						<td>1995</td>
						<td>Metallic Purple</td>
					</tr>
				</tbody>
			</table>
		</div>
	<div id="footer">
			<p>Copyright © 2017 Stephen Parsons</p>
			<p>All rights reserved</p>
<!-- 			<form>
				<h4>Would you like to recieve updates from Stephen?</h2>
				<label>
					Yes<input type="radio" id="yes" name="updates" value="yes">
				</label>
				<br>
				<label>
					No<input type="radio" id="no" name="updates" value="no">
				</label>
				<br>
				<br>
				<label>
					Please enter email: <input type="text" name="email">
				</label>
				<br>
				<br>
				<input type="submit" value="submit">
			</form> -->
		<div>
	</div>
</body>
</html>